@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.custom-header {
  background-color: $emm-new-denim;

  @include tablet {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    border-bottom: 1px solid $white;
  }

  &__logo {
    width: 120px;
    height: 70px;
  }
}
