@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.medication-item {
  @include tablet {
    min-width: 13rem;
    max-width: 13rem;
  }

  @include desktop {
    min-width: 17.5rem;
    max-width: 17.5rem;
  }

  &__heading {
    @include font-stack-m-h3;
    margin: 0;

    @include tablet {
      @include font-stack-tab-desc-h3;
    }
  }

  &__value {
    margin: 0.5rem 0 1rem 0;
  }

  &__alert {
    color: red;
  }
}

.medication-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;

  &__link {
    height: 1.5rem;
    margin-right: 1rem;
  }
}
