@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/colors" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: $white;
  margin: 0;
  font-family: "Avenir-Next";
  height: 100%;
}

#root {
  height: 100%;
}
