@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-card {
  background-color: $white;
  color: $instock-black;

  @include tablet {
    width: 100%;
    margin-bottom: 2rem;
  }
  @include desktop {
    margin-bottom: 2rem;
  }
}

.page-middle {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-grow: 2;
    flex-direction: row;
  }
  @include desktop {
    flex-direction: row;
  }
}
