@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.profile-list {
  min-width: 20rem;
  max-width: 28rem;
  @include tablet {
    display: flex;
    flex-direction: column;
    min-width: 35rem;
    max-width: 35rem;
  }

  @include desktop {
    min-width: 35rem;
    max-width: 35rem;
  }
  // @include tablet {
  //   flex-direction: row;
  // }

  // @include desktop {
  //   flex-direction: row;
  // }
}

.profile {
  &__error {
    color: red;
  }
}
