// emm
$emm-new-denim: #1257a5;
$emm-orange: #ff8000;
$emm-pumpkin: #ff6d00;

$emm-dark-orange: #ff8c00;
$emm-main-purple: #7b46ae;
$emm-bole: #714737;
$emm-bronze: #8f6654;
$emm-royal-purple: #7251b5;
$emm-amethyst: #a06cd5;
$emm-slate-blue: #6d57c2;
$emm-persimmon: #e85d04;
$emm-brown-sugar: #9e6240;
$emm-dark-brown: #a25d3c;
$emm-denim: #1565c0;
$emm-cobalt-blue: #0d4781;
$emm-grey: #e6edfb;
$emm-dark-grey: #a9b9dd;
$emm-dark-blue1: #0a2cb7;
$emm-light-blue: #639ddb;
$emm-dark-blue2: #1e4ed2;
$emm-dark-blue3: #1035c7;
$emm-brown: #784d42;
$emm-dark-blue4: #5373c9;

//primary colors
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$white: #ffff;
$silver: #afafaf;

//secondary colors
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//Site colors
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$light-grey: #f7f8f9;
$green: #158463;
$red: #c94515;

$logo-blue: #6daedb;
$header-blue: #18559c;

// $top-bottom-background: #c1deba;
