//primary colors
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$white: #ffff;
$silver: #afafaf;

//secondary colors
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
