//primary colors
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$white: #ffff;
$silver: #afafaf;

//secondary colors
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//Site colors
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$light-grey: #f7f8f9;
$green: #158463;
$red: #c94515;

$logo-blue: #6daedb;
$header-blue: #18559c;
