@use "variables" as *;
@use "colors" as *;

/* $mobile-breakpoint: 320px; $tablet-breakpoint: 768px; $desktop-breakpoint: 1280px;
*/

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex($justify-content, $align-items, $flex-direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin formfield {
  outline: none;
  border-radius: 1.25rem;
  border: 1px solid $emm-black;
  padding: 0.5rem 1rem;
  background-color: $white;
  box-shadow: 0 0 0px 1000px $white inset;
}
