@use "variables" as *;

/* $mobile-breakpoint: 320px; $tablet-breakpoint: 768px; $desktop-breakpoint: 1280px;
*/

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin position($position, $top: 0%, $right: 0%, $bottom: 0%, $left: 0%) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
