@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.card-container {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.413);
  // box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;

  // position: absolute;
  // left: 4.27%;
  // right: 4.27%;
  // top: 14.25%;

  background: $emm-grey;
  //flex: 2;
  // @include tablet {
  //   left: 4.27%;
  //   right: 4.27%;
  //   top: 10.25%;
  // }

  // @include desktop {
  //   left: 4.27%;
  //   right: 4.27%;
  //   top: 10.25%;
  // }
}
