@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;

.footer {
  width: 100%;
  background-color: $emm-new-denim;
  padding: 1rem 0;
  margin-top: auto;
  position: fixed;
  bottom: 0;

  @include tablet {
    @include font-stack-tab-desc-p3;
    color: $white;
  }

  &__text {
    @include font-stack-m-p3;
    color: $white;
    text-align: center;
    @include tablet {
      font-style: normal;
      font-family: "Avenir-Next";
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1.125rem;
      color: $emm-black;
      color: $white;
    }
  }
}
