@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;

.footer {
  width: 100%;
  background-color: $emm-new-denim;
  padding: 1rem 0;
  margin-top: auto;

  &__text {
    @include font-stack-m-p3;
    color: $white;
    text-align: center;
    @include tablet {
      @include font-stack-tab-desc-p3;
      color: $white;
    }
  }
}
