@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.physician-item {
  @include tablet {
    min-width: 13rem;
    max-width: 13rem;
  }

  @include desktop {
    min-width: 17.5rem;
    max-width: 17.5rem;
  }

  &__heading {
    @include font-stack-m-h3;
    margin: 0;
    padding-bottom: 0.3rem;

    @include tablet {
      @include font-stack-tab-desc-h3;
    }
  }
}

.physician-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5rem;

  &__link {
    height: 1.5rem;
    margin-right: 1rem;
  }
}
