@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

li {
  a:link,
  a:visited,
  a:active,
  a:hover {
    text-decoration: none;
  }
}

.hide {
  display: none;

  @include tablet {
    display: flex;
  }

  @include desktop {
  }
}

.sidebar-box {
  background-color: $emm-new-denim;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0.7rem;
  position: relative;

  @include tablet {
    width: 280px;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  &__logo {
    display: flex;
    background-color: $emm-new-denim;
    width: 115px;
    height: 52px;
    // border: 2px solid $logo-blue;

    @include tablet {
      display: none;
    }
  }

  &__icon {
    display: flex;
    width: 32px;
    height: 52px;
    margin: 0;
    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    //align-content: center;
    list-style-type: none;
    //height: 24px;
    text-align: center;
    background-color: $emm-new-denim;
    padding: 0;
    position: absolute;
    top: 52px;
    right: 0;
    left: 0;
    // left: 40%;

    @include tablet {
      flex-direction: column;
    }

    @include desktop {
      flex-direction: column;
    }
  }

  &__menu-item {
    width: 150px;
    padding-left: 3rem;
    text-align: left;

    @include tablet {
      padding-left: 1rem;
    }

    @include desktop {
      padding-left: 1rem;
    }
  }

  &__symbol {
    margin: 0;
    width: 36px;
    height: 36px;
    color: #333;
  }

  &__item {
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0;
    border-radius: 1.25rem;
    border: 5px solid $emm-grey;
    background-color: $emm-grey;

    @include tablet {
      padding: 0 1rem 0 1rem;
    }

    &:last-child {
      margin: 0.5rem 1rem 1.2rem 1rem;
    }

    a:link,
    a:visited,
    a:active {
      text-decoration: none;
      color: $instock-black;
    }

    &:hover {
      text-decoration: underline;
      padding: 0;
      background-color: $white;
      border: 5px solid $white;
      border-radius: 1.25rem;
    }

    // &:first-child {
    //   padding-right: 1rem;
    // }
  }
}
