@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.edit-profile {
  padding: 0;
  &__heading {
    font-style: normal;
    font-family: "Serif";
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.25rem;

    color: $emm-new-denim;
    padding: 1rem 0 0 1rem;
    margin: 0;
  }

  &__message {
    color: blue;
    padding-bottom: 0.5rem;
  }
}

.profile-form {
  &__heading {
    @include font-stack-m-h2;
    margin: 0.5rem 0 0.5rem 0;
    @include tablet {
      @include font-stack-tab-desc-h2;
    }
  }

  &__label {
    @include font-stack-m-h3;
    padding: 1rem 0 0.25rem 0;
    @include tablet {
      @include font-stack-tab-desc-h3;
      padding: 1.5rem 0 0.25rem 0;
    }
  }

  &__input {
    color: $instock-black;
    height: 2.25rem;
    width: 100%;
    margin-bottom: 1rem;
    @include formfield;
    @include tablet {
      display: flex;
      height: 2.375rem;
      width: 50%;
    }

    @include desktop {
      width: 50%;
    }

    &::placeholder {
      @include font-stack-m-p2;
      @include tablet {
        @include font-stack-tab-desc-p2;
      }
    }

    &[type="text"] {
      @include font-stack-m-p2;
      color: $instock-black;
      @include tablet {
        @include font-stack-tab-desc-p2;
        color: $instock-black;
      }
    }

    &:focus {
      border: 1px solid $instock-indigo;
    }
  }

  &__action {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include tablet {
      display: flex;
      width: 50%;
    }

    @include desktop {
      display: flex;
      width: 30%;
    }
  }

  &__action > * {
    width: 40%;
    margin: 0;

    @include tablet {
      width: 30%;
    }

    @include desktop {
      width: 30%;
    }
  }
}
