@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.header {
  display: none;
  background-color: $emm-new-denim;

  @include tablet {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    border-bottom: 1px solid $white;
  }

  &__logo {
    width: 7.5rem;
    height: 4.375rem;
  }
}
