@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.physician-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 0;
  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: row;
  }
}
